.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  height: 100vh;
  background-color: #202020;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.page__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: none;
}

.page__container_color_blue {
  background-color: #073042;
}

.page__container_color_black {
  background-color: #202020;
}

.page__container_color_gray {
  background-color: #272727;
}

