.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 50px;
}

.header_type_public {
  background-color: #073042;
}

.header__top {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 38px;
  padding: 21px 0;
}

.header__logo {
  position: absolute;
  left: calc((100vw - 768px) / (1280 - 768) * (70 - 30) + 30px);
}

.header__auth {
  position: absolute;
  right: calc((100vw - 768px) / (1280 - 768) * (70 - 30) + 30px);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 30px;
}

.header__link {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  display: flex;
  align-items: center;
  transition: opacity ease-in-out .2s;
  text-decoration: none;
  color: #fff;
}

.header__link:hover {
  opacity: 0.7;
}

.header__link_type_signin {
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  color: #000;
  border-radius: 3px;
  background: #3ddc84;
}

.header__link_type_signin:hover {
  opacity: .8;
}

.header__switch-menu {
  display: none;
}

.header__switch-menu:hover {
  opacity: .8;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 75px 70px 25px;
}

.header__description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.header__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  line-height: 58px;
  margin: 0 0 36px;
  color: #fff;
  max-width: 640px;
}

.header__subtitle {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  margin: 0 0 146px;
  opacity: 0.5;
  color: #fff;
  mix-blend-mode: normal;
  max-width: 310px;
}

.header__show-more {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 20px;
  text-decoration: none;
  opacity: 0.6;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
}

.header__image {
  object-position: top;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .header__logo {
    left: calc((100vw - 320px) / (768 - 320) * (30 - 14) + 14px);
  }

  .header__auth {
    right: calc((100vw - 320px) / (768 - 320) * (30 - 14) + 14px);
  }

  .header__link_type_signin {
    padding: calc((100vw - 320px) / (768 - 320) * (8 - 5) + 5px) calc((100vw - 320px) / (768 - 320) * (20 - 12) + 12px);
  }

  .header__switch-menu {
    position: absolute;
    right: calc((100vw - 320px) / (768 - 320) * (30 - 14) + 14px);
    display: block;
    width: calc((100vw - 320px) / (768 - 320) * (44 - 40) + 40px);
    height: calc((100vw - 320px) / (768 - 320) * (44 - 43) + 43px);
    padding: 0;
    cursor: pointer;
    transition: opacity ease-in-out .2s;
    border: none;
    background: url('../../images/switch.svg') center no-repeat;
    background-size: cover;
  }

  .header__switch-menu_opened {
    background: url('../../images/close.svg') center no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 320px) {
  .header__link {
    font-size: 10px;
  }
}
