.card {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #222;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding: 18px;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  width: calc(100% - 70px);
  margin: 0 0 18px;
}

.card__time {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  color: #8b8b8b;
  margin: 0 0 18px;
}

.card__image {
  width: 100%;
  object-position: center;
  object-fit: cover;
  margin-bottom: 18px;
}

.card__btn {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 11px;
  width: 100px;
  height: 29px;
  margin: 0 auto;
  color: #fff;
  border: none;
  border-radius: 30px;
  background: #313131;
}

.card__btn_color_pink {
  background: #ee3465;
}

.card__btn_type_check {
  background-image: url('../../../images/check.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.card__btn_type_cross {
  background-image: url('../../../images/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 400px) {
  .card {
    padding: 14px;
  }

  .card__title {
    font-size: 12px;
    max-width: calc(100% - 50px);
    margin-bottom: 14px;
  }

  .card__time {
    font-size: 10px;
    width: 50px;
    margin-bottom: 14px;
  }

  .card__image {
    margin-bottom: 14px;
  }
}
